:root{
    --c-negro:#09070D;
    --c-blanco:#FFFFFF;
    --c-morado:#6D2CD3;
    --c-celeste:#3B92FE;    
    --c-naranja:#EC852D;    
    --c-verde:#3ADDCC;
    --grey1: #343338;
    --grey2: #666469;
    --grey3: #98979A;
    --grey4: #CAC9CC;
    --grey5: #F2F2F2;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
h1{
    font-weight: bolder;
    font-size: 3em;
}
.enfasis{
    color:var(--c-morado);
}
.panel{
    height: 100vh;
}
.panel:nth-child(2n+2) {background: var(--grey5)}
.titulo{
    display: flex;
    align-items: center;
}
