:root{
    --c-negro:#09070D;
    --c-blanco:#FFFFFF;
    --c-morado:#6D2CD3;
    --c-celeste:#3B92FE;    
    --c-naranja:#EC852D;    
    --c-verde:#3ADDCC;
    --grey1: #343338;
    --grey2: #666469;
    --grey3: #98979A;
    --grey4: #CAC9CC;
    --grey5: #F2F2F2;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

h1{
    font-weight: bolder;
    font-size: 3rem;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}

.enfasis{
    color:var(--c-morado);
}

.enfasisGliph{
    fill:var(--c-morado);
    height: 4rem;
    margin-top: 1rem;
}

.panel{
    min-height: 100vh;
    padding: 2rem;
}

.panel:nth-child(2n+2) {
    background: var(--grey5)
}

.titulo{
    background-image: url("../img/digital-world-map-faded.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#re:before{
    animation: colorTexto 4s infinite step-end;
    content: 'Load';
    color:var(--c-negro);
}

@keyframes colorTexto {
    0% {color:var(--c-negro); content: "Load"}
    25% {color:var(--c-morado); content: "Act"}
    50% {color:var(--c-verde); content: "Connect"}
    75% {color:var(--c-celeste); content: "Wire"}
    100% {color:var(--c-negro); content: "Load"}
}

.contacto{
    background-image: url("../img/bg-contact02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
}

.pie{
    background-color: var(--grey1);
    color:var(--c-blanco);
    padding: 4rem;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color:var(--c-morado);
}